@page "/"

<div class="main">

    <h1>Blazing Pizzas</h1>

    <ul class="pizza-cards">
    @if (PizzaSpecialsViewModel != null)
    {
        @foreach (var special in @PizzaSpecialsViewModel)
        {
            <li style="background-image: url('@special.ImageUrl')">
                <div class="pizza-info">
                    <span class="title">@special.Name</span>
                    @special.Description
                    <span class="price">@special.GetFormattedBasePrice()</span>
                </div>
            </li>
        }
    }
    </ul>
</div>